@charset "utf-8";

/* frame layout style define */
.tree-view {
	margin: 1em 0 0 0;
	padding: .5em;
	/*background-color: #F7F7F9;*/
	border: 1px solid #E1E1E8;
	border-radius: 5px;
}

.tree-view ul {
	margin: 0;
	padding: 0 2em;
}
.tree-view > ul {
	padding: 0;
}

.tree-view ul li {
	margin: 0 ;
	padding: 0 2em;
	list-style: none;
}

.tree-view .node-content {
	height: 0;
	overflow-y: hidden;
}

.tree-view .node-content li
, .tree-view .node-title {
	display: block;
	height: 2em;
	width: auto;
}
.tree-view .node-content li > *
, .tree-view .node-title > *{
	float: left;
}
.tree-view .node-content li > a
, .tree-view .node-title > .title-label{
	height: 1.5em;
	margin: 0.3em 0 0 0;
	padding: 0 0.3em;
}

.tree-view .toggle-open > .node-content{
	height: auto;
}

/* icons style define */
.tree-view .icon {
	width: 2em;
	height: 2em;
	line-height: 1em;
	display: inline-block;
	background-image: url(checkbox.icon.simple.svg);
	background-repeat: no-repeat;
}

/* check-box style define */
.tree-view .icon.check-box {
	background-repeat: no-repeat;
	background-position: 5px 5px;
}
.tree-view .icon.check-box:hover {
	background-position: -70px 5px;
}
.tree-view .check-box.checked {
	background-position: -20px 5px;
}
.tree-view .check-box.checked:hover {
	background-position: -95px 5px;
}
.tree-view .check-box.half.checked {
	background-position: -45px 5px;
}
.tree-view .check-box.half.checked:hover {
	background-position: -120px 5px;
}
.tree-view .check-box.disabled, .tree-view .check-box.disabled:hover{
	background-position: -145px 5px;
}
.tree-view .check-box.checked.disabled, .tree-view .check-box.checked.disabled:hover{
	background-position: -170px 5px;
}
.tree-view .check-box.checked.half.disabled, .tree-view .check-box.checked.half.disabled:hover{
	background-position: -195px 5px;
}

/*  */
.tree-view .toggle-open > .node-title > .icon-tree-toggle {
	background-position: -20px -20px;
}
.tree-view  .icon-tree-toggle {
	background-position: 5px -20px;
}
.tree-view  .icon-tree-toggle-empty {
	background-position: 45px -20px;
}

/*  */
.tree-view .toggle-open > .node-title > .icon-tree-folder {
	background-position: -70px -20px;
}
.tree-view .icon-tree-folder {
	background-position: -45px -20px;
}

/*  */
.tree-view .icon-tree-item {
	background-position: -95px -20px;
}

/*  */
.tree-view div.node-title.selected > .title-label
, .tree-view li.selected > a {
	border: 0px;
	border-radius: 3px;
	color: white;
	background: #357EBD;
}

.tree-view a::selection
, .tree-view span::selection {
	background: rgba(255, 255, 255, 0);
}
